@charset "UTF-8";
@import url('http://meyerweb.com/eric/tools/css/reset/ ');
@import url('global.css');
@font-face {
    font-family: Raleway;
    src: url('../font/Raleway/Raleway-VariableFont_wght.ttf');
}

:root {
    --cor1: #3BA1CD;
    --cor2: #33A8DB;
}

html, body {
    width: 100%;
    height: 100%;
    background: black;
}

/* HEADER */

.banner {
    width: 100%;
    height: 605px;
    border-bottom: 1px solid var(--cor1);

    background-image: url('../images/banner.png'), linear-gradient(180deg,rgb(0, 0, 0) -30%, rgb(12, 28, 36), rgb(0, 0, 0) 130%);

    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-content {
    width: 510px;
    height: 393px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    top: -30px;
}

.logo {
    width: 268px;
    height: 268px;

    background: rgba(0, 0, 0, 0.2);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

header h1 {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;

    margin: 15px;
}

header p {
    color: white;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 23px;
    text-align: center;
    width: 620px;
}

header button {
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #3BA1CD;

    width: 350px;
    padding: 15px;

    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;

    letter-spacing: 3px;
}

/* MAIN */

/* section 00 */

#course-content {
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 80px;
    border-bottom: 1px solid var(--cor1);
}

#course-content h2 {
    color: var(--cor1);

    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;

    letter-spacing: 6px;
}

#course-content p {
    color: white;
    text-align: center;
    
    width: 900px;
    margin: 25px;
}

.modules-list .module {
    width: 411px;
    height: 19px;

    padding: 15px 50px;
    margin: 25px;

    color: white;
    text-align: center;

    border-radius: 57px;
    border: 1px solid #33A8DB;
    background: #252525;
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.40) inset;
}

.module span {
    color: var(--cor1);
}

/* section 01 */

#transform-world {
    display: flex;
    align-items: center;

    height: 365px;

    background: url('../images/woman-code.png') center center / cover no-repeat fixed;

    border-bottom: 1px solid var(--cor1);
}

#transform-world p {
    color: white;
    font-size: 40px;
    font-weight: 900;
    width: 250px;
    
    text-shadow: 3px 2px 0px var(--cor2);
    text-transform: lowercase;

    margin-left: 200px;
}